@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(270deg, #4a4e69, #9a8c98, #c9ada7, #f2e9e4);
  background-size: 400% 400%;
  animation: gradient-x 10s ease infinite;
}

.hero-text {
  color: #f2e9e4;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.glow-on-hover {
  transition: all 0.2s;
}
.glow-on-hover:hover {
  box-shadow: 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff;
}

html {
  scroll-behavior: smooth;
}
